html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.home-container {
    text-align: center;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: #00796b;
    flex-wrap: wrap;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

.nav-left {
    justify-content: flex-start;
    padding-left: 70px;
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
}

.nav-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.login-button {
    background-color: rgb(0, 162, 255);
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 6px;
    line-height: 1.5;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    text-align: center;
}

.login-button:link,
.login-button:visited {
    color: #ffffff;
}

.login-button:hover {
    background-color: #e0f2f1;
}

.login-button:focus {
    outline: none;
}

.order-button {
    margin-right: 25px;
}

.section {
    padding: 100px 20px;
    box-sizing: border-box;
}

.hero {
    background-image: url("../assets/hero_backgroung.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hero-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 25px;
    text-align: center;
    color: #333;
    max-width: 800px;
    width: 90%;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    line-height: 1.4;
    letter-spacing: 0.2px;  
    font-size: 18px;
}

.hero-container h1 {
    font-size: 28px;
    margin-bottom: 16px;
    line-height: 1.2;
    font-weight: 600;
}
.hero-container p {
    margin-bottom: 10px;
}

.about {
    min-height: 70vh;
    padding: 20px 20px;
    margin: 0 auto;
    color: #333;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h1 {
    font-size: 42px;
    margin-bottom: 20px;
    color: #00796b;
    text-align: center;
}

.about p {
    text-indent: 50px;
    font-weight: bold;
    font-size: 19px;
    text-align:justify;
    max-width: 800px;
    margin-bottom: 0px;
}

.products {
    padding: 40px 20px;
    color: #333;
    min-height: 80vh;
    justify-items: center;
    align-items: center;
}

.products h2{
    font-size: 50px;
    font-weight: 700;
    color: #00796b;
    font-family: 'Onest', Arial, sans-serif;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.products-picture {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    column-gap: 150px;
    row-gap: 40px;
    justify-items: center;
    align-items: center;
}

.products-picture img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.products-picture img:hover {
    transform: scale(1.05);
}

.product-item p {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    font-weight: 700;
}

.more-foods-message {
    margin-top: 40px;
    padding: 30px 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    max-width: 130vh;
    color: #00695c;
    background: #f1f8f6;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 105, 92, 0.1);
}

.benefits {
    color: #333;
    min-height: 100vh;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
}

